.nav-bar {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 15px 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
}

.nav-bar span {
  cursor: pointer;
}

.nav-bar span:hover {
  color: #996c49;
  transition: 0.25s;
}
